flow.json
[
    {
        "id": "38bd99f369d44360",
        "type": "tab",
        "label": "Translate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7377d3f41f64884",
        "type": "http in",
        "z": "38bd99f369d44360",
        "name": "",
        "url": "/createTranslate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ef81d9a1b6f3c034"
            ]
        ]
    },
    {
        "id": "ef81d9a1b6f3c034",
        "type": "function",
        "z": "38bd99f369d44360",
        "name": "OpenAI API properties",
        "func": "//const api_key = global.get('process_env').OPENAI_API\n\nconst api_key = msg.payload.key;\nconst content = msg.payload.text;\n\n// OpenAI API properties\nconst settings = {\n    model: \"text-davinci-003\",\n    prompt: content,\n    temperature: 0.3,\n    max_tokens: 1000,\n    top_p: 1.0,\n    frequency_penalty: 0.0,\n    presence_penalty: 0.0\n};\n\nif (api_key) {\n    msg.url = 'https://api.openai.com/v1/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${api_key}`,\n    };\n    msg.payload = settings;\n    msg.settings = settings;\n    return [msg, null];\n} else {\n    msg.payload = settings;\n    msg.settings = settings;\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "8ebf84e0f7cf8bbe"
            ],
            [
                "a4d98040757a363c"
            ]
        ]
    },
    {
        "id": "8ebf84e0f7cf8bbe",
        "type": "http request",
        "z": "38bd99f369d44360",
        "name": "OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "c3dc3bf26b7d617f"
            ]
        ]
    },
    {
        "id": "c3dc3bf26b7d617f",
        "type": "function",
        "z": "38bd99f369d44360",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\nif (!msg.payload.error){\n    msg.payload = {\n        succsess: true,\n        text: msg.payload.choices[0].text,\n        settings: convertPayloadToObject(msg.settings)\n    }\n}else{\nmsg.payload={\n     succsess:false,\n     payload:msg.payload.error.code\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 100,
        "wires": [
            [
                "bf1802ad6d2bdc54"
            ]
        ]
    },
    {
        "id": "bf1802ad6d2bdc54",
        "type": "http response",
        "z": "38bd99f369d44360",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "a4d98040757a363c",
        "type": "function",
        "z": "38bd99f369d44360",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\n\nmsg.payload = {\n    settings: convertPayloadToObject(msg.settings)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "09946dcd07bd8829"
            ]
        ]
    },
    {
        "id": "09946dcd07bd8829",
        "type": "http response",
        "z": "38bd99f369d44360",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 140,
        "wires": []
    }
]